.main-container{
    margin-top: 2%;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    border-radius: 20px;
    margin-bottom: 5px;
    
}

button{
    border-radius: 20px;
}
